body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
}

ul li {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul li h2 {
    margin: 0;
    color: #007bff;
    font-size: 20px;
}

ul li p {
    margin: 10px 0;
    color: #555;
    font-size: 14px;
}

ul li img {
    display: block;
    margin: 10px 0;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-height {
    height: 200px;
    object-fit: cover;
}

.icon-container {
    width: auto;
}

.card{
    height: 100%;
}